body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}

section {
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#gamesList p {
    margin: 5px 0;
}
